<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-height-indicator"></div>
            <div class="card-content" data-src="card/recording-active">
                <div class="loading-content">Loading Content</div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card">
            <div class="card-height-indicator"></div>
            <div class="card-content" data-src="card/recording-upcoming">
                <div class="loading-content">Loading Content</div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card">
            <div class="card-height-indicator"></div>
            <div class="card-content" data-src="card/recording-previous">
                <div class="loading-content">Loading Content</div>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="card">
            <div class="card-height-indicator"></div>
            <div class="card-content" data-src="card/storage-status">
                <div class="loading-content">Loading Content</div>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="card">
            <div class="card-height-indicator"></div>
            <div class="card-content" data-src="card/live-streams">
                <div class="loading-content">Loading Content</div>
            </div>
        </div>
    </div>
</div>