<h2>Current Live Streams</h2>

<div class="card-body">
    <div class="empty-list">
        <p class="mdi-av-videocam-off" style="font-size: 7em; margin: 32px"></p>
        <p style="font-size: 1.5em">No live streams in progress</p>
    </div>
    <div class="results">
        <table style="width: 100%;">
            <thead>
            <tr>
                <th style="width: 70%">Channel</th>
                <th style="width: 30%" class="numeric-field">Viewers</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>BBC One London</td>
                <td class="numeric-field">2</td>
            </tr>
            <tr>
                <td>4seven</td>
                <td class="numeric-field">3</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>