<h2>Upcoming Recordings</h2>

<div class="card-body">
    <div class="empty-list">
        <p class="mdi-image-timer" style="font-size: 7em; margin: 32px"></p>
        <p style="font-size: 1.5em">No upcoming recordings</p>
    </div>
    <div class="results">
        <table style="width: 100%;">
            <thead>
            <tr>
                <th style="width: 40%">Name</th>
                <th style="width: 15%">Date</th>
                <th style="width: 15%" class="numeric-field hide-mobile-portrait">Start</th>
                <th style="width: 15%" class="numeric-field hide-mobile-portrait">End</th>
                <th style="width: 15%" class="hide-mobile-portrait">Channel</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>American Hot Rod</td>
                <td class="numeric-field">13-Sep-15</td>
                <td class="numeric-field hide-mobile-portrait">10:00</td>
                <td class="numeric-field hide-mobile-portrait">11:00</td>
                <td class="hide-mobile-portrait">Quest</td>
            </tr>
            <tr>
                <td>Doc Martin</td>
                <td class="numeric-field">15-Sep-15</td>
                <td class="numeric-field hide-mobile-portrait">21:00</td>
                <td class="numeric-field hide-mobile-portrait">22:00</td>
                <td class="hide-mobile-portrait">ITV</td>
            </tr>
            <tr>
                <td>QI</td>
                <td class="numeric-field">19-Sep-15</td>
                <td class="numeric-field hide-mobile-portrait">21:00</td>
                <td class="numeric-field hide-mobile-portrait">22:00</td>
                <td class="hide-mobile-portrait">BBC Two</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<footer class="card-footer">
    <button class="btn btn-flat btn-primary">View all recordings</button>
</footer>